@import '../../styles/partials/variables';

@import '../../styles/partials/fonts';

body {
    background: black;
    padding: 0;
    margin: 0;
  }

  .container {
      display: flex;
      justify-content: flex-end;
  }
  
.intro {
      margin-top: 20rem;
      width: 100%;
      height: 500px;
    // background: black;
    // // width: 100%;
    // // height: 100%;
    // // max-width: 100%;
    // // display: flex;
    // // justify-content: center;
    // // position: absolute;
    // // top: 50%;
    // // left: 50%;
    // transform: translate(-50%, -50%);
    // box-shadow: 0 30px 50px -20px rgb(46, 6, 66);
    
    .text { 
      display: none;
    }
    &.go {
      .text {
        font-family: Arial, sans-serif;
        font-size: 25px;
        text-transform: uppercase;
        display: block;
        padding-top: 2rem;
      }
      .text-stroke,
      .text-stroke-2 {
        fill: none;
        stroke: #51256f;
        stroke-width: 2.8px;
        stroke-dashoffset: -900;
        stroke-dasharray: 900;
        stroke-linecap: butt;
        stroke-linejoin: round;
        animation: dash 2.5s ease-in-out forwards;
      }
      .text-stroke-2 {
          display: flex;
          justify-content: flex-end;
      }
      .text-stroke:nth-child(2) {
        animation-delay: .3s;
      }
      .text-stroke:nth-child(3) {
        animation-delay: .9s;
      }
      .text-stroke-2 {
        stroke: #f6bdfa;
        animation-delay: 1.2s;
      }
      .text-stroke:nth-child(5) {
        animation-delay: 1.5s;
      }
      .text-stroke:nth-child(6) {
        animation-delay: 1.8s;
      }
    }
  }
  
  @keyframes dash {
    100% {
      stroke-dashoffset: 0;
    }
  }


// .home {
//     margin: 0 auto;

//     &__header,
//     &__description,
//     &__arrow {
//         @include mobile {
//         font-family: 'Aileron Thin';
//         font-size: 50px;
//         color: red;
//         margin-left: 5vw;
//         }
//     }

//     &__description {
//         @include mobile {
//         text-align: right;
//         margin-right: 5vw;
//         }
//     }

//     &__arrow {
//         display: flex;
//         justify-content: center;
//         font-size: 60px;
//     }
// }