@import '../../styles/partials/variables';

@import '../../styles/partials/fonts';

.contact {
    color: white;

    &__image {
        @include mobile {
            width: 90%;
            margin-left: 3vw;
        }
    }

    &__header {
        @include mobile {
            font-family: 'Aileron UltraLight';
            font-size: 30px;
            margin-left: 5vw;
            margin-top: 2rem;
        }
    }
}