@import '../../styles/partials/variables';

@import '../../styles/partials/fonts';

.footer {
    color: white;

    &__container {
        @include mobile {
            display: flex;
            margin-left: 5vw;
            padding-right: 3vw;
            margin-top: 2rem;
            margin-bottom: 0;
        }
    }

    &__github,
    &__linkedin,
    &__gmail {
        @include mobile {
            padding-right: 3vw;
            font-size: 20px;
            color: white;
        }
    }

    &__credit {
        @include mobile  {
            display: flex;
            justify-content: flex-end;
            margin-top: -2.2rem;
            font-size: 10px;
            margin-right: 5vw;

        }
    }
}