@import '../../styles/partials/variables';

@import '../../styles/partials/fonts';

.work {

    &__header {
        @include mobile {
           display: flex;
           justify-content: center;
        }
    }

    &__image {
        @include mobile {
            width: 100%;
        }
    }
}